body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background-color: #eff1f5;
  color: #4c4f69;
  margin: 100px 20px;
}

container {
  display: flex;
  justify-content: center;
  align-items: column;
}

content {
  max-width: 600px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li.post {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

a {
  color: #1e66f5;
  text-decoration: none;
}

a:visited {
  color: #8839ef;
}