<!DOCTYPE html>
<html lang="en-GB">

<head>
  <title>nofable - technical posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  Font setup -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="./main.css">
</head>

<body>
  <container>
    <content>
      {{{ header }}}
      <h1>Posts</h1>
      <div>
        {{#each posts}}
        <a href="/{{this.slug}}" class="post">
          <div class="post-title">
            {{this.title}}
          </div>
          <div class="post-date">{{this.date}}</div>
          <div class="post-desc">{{this.desc}}</div>
        </a>
        {{/each}}
      </div>
    </content>
  </container>
</body>

</html>